li{
    text-decoration: underline ;
    color: blue;
}

p{
    color:yellow
}

h1{
    color: lawngreen;
    font-style: italic;
    text-align: center;
}


body{
    background-color: gray;
    font-family: avant garde, sans-serif;
}

a{
    background-color: gray;
    text-decoration: none;
}

#page-title{
    text-shadow: 4px 4px rebeccapurple;
    font-family: Rockwell, serif;
}

#author{
    text-align: center;
    color: darkred;
}

#favorite-music-name{
    background-color: blue;
}

.favorites-section{
    border: 5px hotpink solid;
    margin: 5px;
    padding: 5px;
}

.section-header{
    border: 5px brown solid;
}

#risotto{
    background-color: gray;
    color: blue;
}

#rice{
    background-color: gray;
    color: darkmagenta;
}

#pasta{
    background-color: gray;
    color: darkseagreen;
}

#foods{
    background-color: cyan;
}

#movie{
    background-color: darkorchid;
}

#band{
    background-color: darkred;
}

#books{
    background-color: white;
}

#book-table{
    margin: 5px;
}

#most-favorite-food{
    font-family: Rockwell, serif;
    color: blue;
}

#movie-paragraph{
    color: lawngreen;
}

#music-para{
    color: hotpink;
}

#favorite-movie-title{
    font-style: italic;
}

#favorite-music-artist{
    font-weight: bold;
}

.favorite-image{
    border-radius: 50%;
}

th{
    color: cyan;
}

td {
    color: orange;
}

